<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Locked</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
          -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
        }
        .email-container {
          max-width: 600px;
          margin: 20px auto;
          background-color: #ffffff;
          padding: 30px;
          border-radius: 8px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .header {
          text-align: center;
          padding-bottom: 20px;
          border-bottom: 1px solid #eeeeee;
        }
        .header img {
          max-width: 150px;
        }
        .content {
          padding-top: 20px;
          color: #555555;
        }
        h1 {
          color: #333333;
          font-size: 24px;
        }
        p {
          line-height: 1.6;
        }
        .cta-button {
          display: inline-block;
          padding: 12px 24px;
          margin: 20px 0;
          background-color: #dc3545; /* A red color for urgency */
          color: #ffffff;
          text-decoration: none;
          border-radius: 5px;
          font-weight: bold;
        }
        .footer {
          text-align: center;
          padding-top: 20px;
          border-top: 1px solid #eeeeee;
          margin-top: 20px;
          font-size: 12px;
          color: #aaaaaa;
        }
    </style>
</head>
<body>
<div class="email-container">
    <div class="header">
        <img src="{{logoUrl}}" alt="Company Logo">
    </div>
    <div class="content">
        <h1>Account Locked for {{username}}</h1>
        <p>Hello {{username}},</p>
        <p>For security reasons, your account has been temporarily locked due to too many failed login attempts.</p>
<!--        <p>To regain access, please contact our support team to have your account unlocked manually. This action is necessary to protect your account from unauthorized access.</p>-->
        <p>To regain access, please use route <b>/users/forgot-paasword</b> to unlock your account manually. This action is necessary to protect your account from unauthorized access.</p>-->
        <p>We take your account security very seriously and apologize for any inconvenience.</p>
        <p>Thank you,</p>
        <p>The {{companyName}} Team</p>
    </div>
    <div class="footer">
        <p>&copy; {{year}} {{companyName}}. All rights reserved.</p>
    </div>
</div>
</body>
</html>